<main>
    <h1 class="enh1" *ngIf="lang!=1"> About Us</h1>
    <h1 class="geoh1" *ngIf="lang==1"> ჩვენს შესახებ</h1>
<p class="geoP"  *ngIf="lang==1">
    „SportScape”-ი წარმოადგენს სპორტული და გამაჯანსაღებელი ობიექტების მართვის
    ცენტრს, რომლის მთავარი მიზანია თბილისში შექმნას სერვისები, რომლის
    დახმარებითაც მოსახლეობა შეძლებს დაკავდეს, როგორც პროფესიული სპორტის, ასევე
    განიტვირთოს და დაკავდეს ფიზიკური აქტივობით. ფიზიკური აქტივობა წარმოადგენს
    ადამიანის სოციალიზაციისა და ჯანმრთელობის განმტკიცების ერთ-ერთ ყველაზე
    ეფექტიან საშუალებას. სპორტი და ჯანსაღი ცხოვრების წესი არის მთავარი მოტივატორი,
    რისთვისაც ჩვენი გუნდი ახორციელებს ინვესტიციებს და ყოველდღიურ რეჟიმში
    მუშაობს შეიქმნას ახალი დამატებითი სერვისები და გაუმჯობესდეს
    ხელმისაწვდომობის ხარისხი მოსახლეობის ყველა ფენისთვის.
</p>
<p class="geoP"  *ngIf="lang==1">
    „SportScape”-ის გუნდმა დედაქალაქში უკვე შექმნა არაერთი სპორტული და
    გამაჯანსაღებელი სივრცე, ხოლო წლის ბოლომდე იგეგმება ოცამდე სპორტის
    სახეობისთვის შესაბამისი ლოკაციების მოწყობა და განვითარება. სპორტის სახეობების
    გარდა ჩვენი კომპანია ზრუნავს სპორტის საზოგადოების შეკრების ადგილების გაჩენაზე,
    რისთვისაც იგეგმება სპორტული ბარებისა და საკონფერენციო სივრცეების შექმნა, სადაც
    სპორტით დაინტერესებული საზოგადოებისთვის გაიმართება შეხვედრები და
    საინფორმაცია, საგანმანათლებლო ფორუმები.
    
</p>



<p class="geoP" *ngIf="lang==1">პატივისცემით,</p>
<p class="geoP" *ngIf="lang==1"> „SportScape”-ის გუნდი</p>

<p class="engP"  *ngIf="lang!=1">
    "SportScape" is a management center for sports and wellness facilities, with the primary goal of creating services in Tbilisi that enable people to engage in both professional sports and recreational physical activities. Physical activity is one of the most effective ways to promote socialization and strengthen health. Sports and a healthy lifestyle are the main motivators driving our team to invest and work daily to create new services and improve accessibility for all segments of the population.

</p>
<p class="engP"  *ngIf="lang!=1">
    The "SportScape" team has already established several sports and wellness spaces in the capital, and by the end of the year, we plan to set up and develop locations suitable for around twenty sports disciplines. In addition to promoting various sports, our company is focused on creating gathering spaces for the sports community. This includes plans for establishing sports bars and conference areas where meetings and informational, educational forums will be held for those interested in sports.

    
</p>



<p class="engP" *ngIf="lang!=1">Sincerely,</p>
<p class="engP" *ngIf="lang!=1">  The SportScape Team</p>







</main>