<main>
   <section class="pics">
         <img src="../../assets/DSC09127.JPG" alt="">
         <img src="../../assets/DSC09135.JPG" alt="">
  
      
         <img src="../../assets/DSC09140.JPG" alt="">
    
         <img src="../../assets/DSC09142.JPG" alt="">
         <img src="../../assets/DSC09134.JPG" alt="">
         <img src="../../assets/DSC09144.JPG" alt="">
   </section>

    <div class="map">
        <iframe class="mapIF" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1966.2082515622144!2d44.844218716954124!3d41.67271401568565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40440d0024b51417%3A0x69b3c7bb60d4e033!2ssportscape!5e0!3m2!1sen!2suk!4v1727725360792!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</main>
