
<!-- <main>
    <section class="firstSection">
        <div class="img">
            <img src="../../assets/1.jpg" alt="">
        </div>
      
        <div class="titles" [style.transform]="'translateY(' + translateY + 'px)'">
            <h1> S P O R T S C A P E  </h1>
        </div>
        <section class="secondSection">
            <div class="test"></div>
        </section>
    </section>



</main> -->



<main>
    <section class="firstSection">
        <div class="img">
            <img src="" alt="">
        </div>
      
        <div class="titles" [style.transform]="'translateY(' + translateY + 'px)'">
            <h1> S P O R T S C A P E  </h1>
        </div>
        
    </section>
    <section class="secondSection">
        <div class="left">
            <h2> {{ lang === 1 ? "ჩვენს შესახებ" : "About Us" }}</h2>

            <p class="geoP" *ngIf="lang==1">

                „SportScape”-ი წარმოადგენს სპორტული და გამაჯანსაღებელი ობიექტების მართვის ცენტრს, რომლის მთავარი 
                მიზანია თბილისში შექმნას სერვისები, რომლის დახმარებითაც მოსახლეობა შეძლებს დაკავდეს, როგორც 
                პროფესიული სპორტის, ასევე განიტვირთოს და დაკავდეს ფიზიკური აქტივობით. ფიზიკური აქტივობა 
                წარმოადგენს ადამიანის სოციალიზაციისა და ჯანმრთელობის განმტკიცების ერთ-ერთ ყველაზე ეფექტიან
                საშუალებას. სპორტი და ჯანსაღი ცხოვრების წესი არის მთავარი მოტივატორი, რისთვისაც ჩვენი გუნდი 
                ახორციელებს ინვესტიციებს და ყოველდღიურ რეჟიმში მუშაობს შეიქმნას ახალი დამატებითი სერვისები და 
                გაუმჯობესდეს ხელმისაწვდომობის ხარისხი მოსახლეობის ყველა ფენისთვის.
          
               </p>
               <p class="engP" *ngIf="lang!=1"> "SportScape" is a management center for sports and wellness 
                facilities, with the primary goal of creating services in Tbilisi that enable people to engage in 
                both professional sports and recreational physical activities. Physical activity is one of the most 
                effective ways to promote socialization and strengthen health. Sports and a healthy lifestyle are 
                the main motivators driving our team to invest and work daily to create new services and improve 
                accessibility for all segments of the population.

               </p>


        </div>
        <div class="right">
            <img src="../../assets/222.JPG" alt="">
        </div>
        
    </section>


    <section class="thirdSection">
        <app-slideshow></app-slideshow>
    </section>


</main>
